body{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: rgb(118, 128, 104);
}

#container{
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.column{
  border: 1px solid black;
  display: inline-block;
  flex-basis: 100%;
  border-right: 0px;
}

.row{
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  flex-basis: 100%;
  background-color: aliceblue;
}

.hovering{
  background-color: black;
}

button{
  display: flex;
  max-width: 20%;
  margin: 5px;
  background-color: rgb(13, 138, 255);
  border: none;
  padding: 5px;
  font-weight: 700px;
  border-radius: 4px;
}

button:hover{
  background-color: rgb(108, 108, 219);
}